.commentWrapper {
  display: flex;
  align-items: flex-start;
  gap: 16px;

  background-color: var(--white);
  padding: 16px;
}

.commentBodyArea {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
}

.replies {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 72px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -39px;
    background-color: var(--light-gray);
    width: 3px;
    border-radius: 4px;
  }
}
