:root {
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
.container {
  margin-top: 72px;
  max-width: 1024px;
  width: 94%;

  margin-left: auto;
  margin-right: auto;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger-menu-wrapper {
  display: none;
}

header .desktop-nav {
  display: flex;
  gap: 36px;
}
header .desktop-nav a {
  color: var(--dark-grayish-blue);
}

/* main */
main {
  margin-top: 72px;
  display: grid;
  gap: 24px;
  margin-bottom: 72px;
}

/* featured-new */

section#featured-new .featured-new-body {
  margin-top: 24px;
  gap: 15px;
}
section#featured-new .featured-new-body h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 45px;
  color: var(--very-dark-blue);
  flex: 1;
}
section#featured-new .featured-new-body .featured-new-description {
  flex: 1;
}
section#featured-new .featured-new-body .featured-new-description p {
  color: var(--dark-grayish-blue);
  margin-bottom: 16px;
  padding: 12px;
}
section#featured-new
  .featured-new-body
  .featured-new-description
  .primary-button {
  color: var(--off-white);
  background-color: var(--soft-red);
  padding: 12px 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bolder;
}

/* news-sidebar */
section#news-sidebar {
  background-color: var(--very-dark-blue);
  padding: 20px;
}
section#news-sidebar h2 {
  color: var(--soft-orange);
  font-size: 26px;
  font-weight: 800;
}
section#news-sidebar .new-item:not(:last-child) {
  margin: 15px 0;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--dark-grayish-blue);
}

section#news-sidebar .new-item h4 {
  color: var(--off-white);
  font-weight: 700;
}
section#news-sidebar .new-item p {
  color: var(--off-white);
  opacity: 0.5;
}

/* news-bottom */
section#news-bottom {
  display: flex;
  justify-content: space-between;
}
#news-bottom .new-bottom-item {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 24px;
  margin-right: 30px;
}
#news-bottom .new-bottom-item .new-bottom-body .new-bottom-body-number {
  font-size: 24px;
  font-weight: 800;
  color: var(--grayish-blue);
}
#news-bottom .new-bottom-item .new-bottom-body h3 {
  font-weight: 700;
}
#news-bottom .new-bottom-item .new-bottom-body .new-bottom-body-description {
  color: var(--dark-grayish-blue);
  font-size: 12px;
}

@media (min-width: 680px) {
  /* main */
  main {
    grid-template-areas:
      'featuredNew featuredNew newsSidebar'
      'newsBottom newsBottom newsBottom';
  }

  header .hamburger-menu-open {
    display: none;
  }

  section#featured-new .featured-new-body {
    display: flex;
  }

  section#featured-new .featured-new-body .featured-new-description p {
    padding: 0px;
  }

  section#featured-new {
    grid-area: featuredNew;
  }
  section#news-sidebar {
    grid-area: newsSidebar;
  }
  section#news-bottom {
    grid-area: newsBottom;
  }
}

@media (max-width: 680px) {
  header .desktop-nav {
    display: none;
  }
  section#news-bottom {
    flex-direction: column;
  }
  .new-bottom-image {
    flex: 1;
  }
  #news-bottom {
    gap: 14px;
  }
  .new-bottom-body {
    flex: 2;
  }

  /* hamburger menu */
  .hamburger-menu-wrapper {
    display: flex;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    transition: left 500ms ease, opacity 500ms ease;
  }

  .open {
    left: 0;
    opacity: 100%;
  }

  .hamburger-menu-wrapper .overlay {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .hamburger-menu-wrapper .mobile-nav-wrapper {
    background-color: var(--off-white);
    flex: 3;
  }

  .mobile-nav-wrapper .hamburger-menu-close {
    margin-top: 12px;
    margin-right: 12px;
    margin-left: auto;
  }

  .hamburger-menu-wrapper .mobile-nav-wrapper .mobile-nav {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 72px;
    margin-left: 24px;
  }

  .hamburger-menu-wrapper .mobile-nav-wrapper .mobile-nav a {
    color: var(--very-dark-blue);
    font-weight: 400;
  }
}
